.about__title {
  color: #ffffff;
  font-family: "Orbitron", "Roboto", "Arial";
}

.about__text {
  color: #ffffff;
  font-family: "Orbitron", "Roboto", "Arial";
  font-size: 18px;
  font-weight: 600;
}

.about__image {
  height: 320px;
  width: 320px;
  background-color: transparent;
  border-radius: 30%;
  border: 1px black;
  padding: 24px 40px 0 0;
}

.about__container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin: auto;
}

.about__info {
  display: flex;
  flex-direction: column;
  width: 520px;
  padding-left: 40px;
}
