.home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home__background-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/space.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.home__background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    rgba(55, 123, 152, 0.1),
    rgba(0, 0, 0, 0.8)
  );
  z-index: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .home__background-wrapper {
    min-height: 100vh;
  }
}
